#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 12em;
  padding-top: 3.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.company-title {
  margin-top: -1.0em;
  letter-spacing: -1px;
}

.card {
  padding: 2em;
  max-width: 500px;
  text-align: left;
}

.public-service-announcement {
  margin-top: 4em;
  color: #888;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: rgb(255, 230, 0);
  text-align: center;
  text-decoration: none;
  border: 2px solid rgb(23, 23, 23);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  color: rgb(255, 230, 0);
  background-color: black;
  border: 2px solid rgb(255, 230, 0); /* Add a solid outline */
  outline: 2px solid rgb(255, 230, 0); /* Optional: Add an outline for better visibility */
}

.contact-button {
  font-weight: 800;
  font-size: 1.2em;
}

footer {
  margin-top: 1rem;
  text-align: center;
}

.linkedin-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #0077b5;
  font-size: 1.2em;
  font-weight: bold;
  transition: color 0.3s ease;
}

.linkedin-link:hover {
  color: #005582;
}

.linkedin-icon {
  font-size: 24px;
  margin-right: 8px;
}
